
.formContainer {
  width: 100%;
  background-color: var(--color-dark-orange);
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0;

}

.label, .count, .article, .add{
  font-size: 2rem;
  padding: 1rem;
  margin-left: 1rem;
}

.count, .article{
  background-color: var(--color-light-beige);
  border: none;
  border-radius: 5rem;

}

.count {
  width: 10%;
}

.add {
  background-color: var(--color-green);
  border: none;
  border-radius: 5rem;
  padding: 1rem  2rem;

}