
.formContainer {
  width: 100%;
  background-color: var(--color-dark-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0;
  font-weight: 700;

}

.label, .count, .article, .add{
  font-size: 2rem;
  padding: 1rem;
  margin-left: 1rem;
}

.count, .article{
  background-color: var(--color-light-beige);
  border: none;
  border-radius: 5rem;

}

.article::placeholder{
  opacity: 40%;
  padding-left: 5px;
}

.count {
  width: 10%;
}

.add {
  background-color: var(--color-green);
  border: none;
  border-radius: 5rem;
  padding: 1rem  2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(20,20,20, .5);

}

.add:hover{
  transform: scale(1.1);
  box-shadow: 2px, 2px, 15px rgba(20,20,20, .5);
}