

.itemContainer {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  color: var(--color-light-beige);
  gap: 1rem


}

.packed{
  width: 20px;
  height: 20px;
  border: 2px solid gray;

}


.icon {
  font-size: 2.5rem;
  color: var(--color-red);
  cursor: pointer;
  font-weight: 700;
}

.descriptionCheck {
  text-decoration: line-through;
}