

.itemContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--color-light-beige);




}

.packed{
  width: 20px;
  height: 20px;
  border: 2px solid gray;

}


.icon {
  font-size: 2.5rem;
  color: var(--color-red);
  cursor: pointer;
  font-weight: 700;
}

.descriptionCheck {
  text-decoration: line-through;
}