/* 
const initialItems = [
  { id: 1, description: "Passports", quantity: 2, packed: false },
  { id: 2, description: "Socks", quantity: 12, packed: false },
];
*/

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}


